{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "January 2, 2006 3:04 PM" }}

<div class="post-container">

  <div id="toc-container">
    <label for="TableOfContents" class="toc-label">Table of Contents</label>
    {{ .TableOfContents }}
  </div>

    <div id="post-content">
      {{ .Content }}
    <h1>Post information: </h1>
    <time datetime="{{ $dateMachine }}">Post written in: {{ $dateHuman }}</time>
    <p>Estimated readtime: {{ .ReadingTime }} minutes</p>
    <p>Post contain: {{ .WordCount }} words</p>
    <time datetime="{{ .Lastmod }}">Last modified: {{ .Lastmod | time.Format "January 2, 2006 3:04 PM"}}</time>
    <p>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </p>

    </div>

</div>

<div class="scroll-btn">
  <div class="scroll-arrow">
  </div>
</div>

{{ end }}