header {
  align-items: center;
  border-bottom: 1px solid #ebdbb2;
  margin-bottom: 1rem;
}

a.menu {
  margin: 20px;
  font-size: large;
}

ul.nav-menu {
  display: flex;
  justify-content: center;
  align-content: center;
}

.burger {
  cursor: pointer;
  display: none;
  width: fit-content;
}

.line1,
.line2,
.line3 {
  margin: 8px 0;
  width: 40px;
  height: 5px;
  position: relative;
  background-color: antiquewhite;
  transition: 0.4s;
}

.hidden-menu {
  display: none;
}

.menu-list {
  margin: 10px;
  list-style: none;
}

.burger-state .line1 {
  transform: translate(0, 12.5px) rotate(-40deg);
}
.burger-state .line2 {
  opacity: 0;
}
.burger-state .line3 {
  transform: translate(0, -12.5px) rotate(40deg);
}