:root {
  background: #32302f;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  color: #ebdbb2;
}

h1 {
  color: #fb4934;
}

h2 {
  color: #fe8019;
}

h3 {
  color: #d79921;
}

h4 {
  color: #8ec07c;
}

h5 {
  color: #8399a5;
}

h6 {
  color: #a5839b;
}

main {
  margin: 0 20%;
  font-family: "Courier New", Courier, monospace;
  text-wrap: wrap;
}

a:hover {
  color: #fb4934;
  text-decoration: underline;
  transition: ease-in-out 0.5s;
  text-underline-offset: 8px;
}

.table,
tr>th,
tr>td {
  padding: 5px;
  border: 2px #ebdbb2 solid;
}

main>h1.title {
  text-align: center;
}

a {
  color: #83a593;
  text-decoration: none;
}

ul.nav-menu>li,
.tags {
  list-style: none;
}

blockquote {
  border-left: 5px #ebdbb2 solid;
}

blockquote>p {
  padding: 15px;
  font-style: italic;
}

summary {
  width: fit-content;
  cursor: pointer;
}

summary::marker {
  font-size: 0.6cm;
}
