body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  /* default max-width 768 pixels */
}

header {
  align-items: center;
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  margin: 0 auto;
  border-top: 1px solid #222;
  margin-top: 2rem;
}
/* FIXME: p.link > a to something better */
a.link,
p.link > a,
a.copyright {
  color: #00e;
  text-decoration: none;
}

a.menu {
  margin: 20px;
  font-size: large;
}

@media (max-width: 350px) {
  a.menu {
    font-size: small;
  }
  a.menu {
    display: block;
  }
}

ul {
  display: flex;
  justify-content: center;
  align-content: center;
}

li {
  list-style: none;
  padding-inline-end: 1.5vw;
}
