body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  /* background: #32302f; */
  /* default max-width 768 pixels */
  /* color: #ebdbb2; */
}

/* h1{
  color: #fb4934;
}

h2{
  color: #fe8019;
}

h3{
  color: #b8bb26;
} */

main {
  margin: 0 20%;
  font-family: "Courier New", Courier, monospace;
  text-wrap: wrap;
}

div li.tags{
    padding-top: 1em;
}

.tags > li {
  padding: 1%;
}

.tags > .link {
  font-size: medium;
}

ul.tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a:hover {
  /* color: #fb4934; */
  text-decoration: underline;
}

ul.posts{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

ul.posts > li{
  list-style: upper-roman;
  padding: 1%;
}

.table,
tr > th,
tr > td {
  padding: 5px;
  border: 2px black solid;
}

main > h1.title {
  text-align: center;
}

header {
  align-items: center;
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  margin: 0 auto;
  border-top: 1px solid #222;
  margin-top: 2rem;
}

a {
  color: #00e;
  /* color: #83a593; */
  text-decoration: none;
}

a.menu {
  margin: 20px;
  font-size: large;
}

ul.nav-menu {
  display: flex;
  justify-content: center;
  align-content: center;
}

ul.nav-menu > li,
.tags {
  list-style: none;
  padding-inline-end: 1.5vw;
}

.tags {
  display: inline-block;
  font-size: medium;
}

blockquote {
  border-left: 5px black solid;
}

blockquote > p {
  padding: 15px;
}

.post-container{
  display: flex;
}

#TableOfContents{
  justify-content: center;
  white-space: nowrap;
}