@media (max-width: 300px) {
    main {
      font-size: 10px;
      margin: 0 1%;
    }
    li > a.menu {
      margin: 1px;
      font-size: smaller;
    }
    a.posts,
    h1.title,
    a.menu,
    .table {
      font-size: xx-small;
    }
  }
  
  @media (max-width: 768px) {
    main {
      font-size: 14px;
      margin: 0 1%;
    }
    li > a.menu {
      margin: 1px;
      font-size: small;
    }
    a.posts {
      font-size: x-small;
    }
    h1.title {
      font-size: large;
    }
    .tags > .link {
      font-size: x-small;
    }
  }
  
  @media (min-width: 768px) {
    main {
      font-size: 16px;
      margin: 0 10%;
    }
    a.posts {
      font-size: medium;
    }
    a.title {
      font-size: large;
    }
    .tags > .link {
      font-size: large;
    }
  }
  
  @media (min-width: 1920px) {
    main {
      margin: 0 25%;
      font-size: 18px;
    }
    a.posts {
      font-size: large;
    }
    h1.title {
      font-size: xx-large;
    }
    .tags > .link {
      font-size: larger;
    }
  }